body{

background-color: red;





}
h1{

background-color: yellow;

color: yellow;



}

h2{

background-color: yellow;

color: yellow;



}


h3{
    color: red;








}